<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<p>
  <h2>Listing orders:</h2>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Cover Page</th>
    <th>Unit Price</th>
    <th>No. of Copies</th>
    <th>Total Price</th>
  </tr>
<% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= image_tag(product.image_url) %></td>
    <td><%= number_to_currency(product.price) %></td>
    

  </tr>
<% end %>

</table>

<br />
