<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag(@product.image_url, :width => 80) if @product.image_url.present? %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<h2>Listing orders:</h2>
<table class="bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Pay type</th>
      <th>Nr. Copies</th>
    </tr>
    </thead>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.name %></td>
      <td><%= order.address %></td>
      <td><%= order.email %></td>
      <td><%= order.pay_type %></td>
      <% order.line_items.each do |line_item| %>
        <% if (@product.id == line_item.product_id)%>
          <td><%= line_item.quantity %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<br>